html, body {
	width : 100%;
	}

/*.container > div > div {*/
/*	background-color: lightblue;*/
/*	}*/

#main {
	/*border: 3px solid magenta;*/
	text-align    : center;
	width         : 100%;
	padding-left  : 10%;
	padding-right : 10%;
	}

#main .fluid-container {
	/*border     : 2px solid blue;*/
	text-align : center !Important;
	}

#main .row {
	/*border: 1px solid darkgreen;*/
	margin-top : 0.5rem;
	}

#below_timer {
	padding    : 0;
	margin-top : 1rem;
	}

#main div[class^="col-"] {
	/*border: 1px solid black !important;*/
	}

#main div[id^="bt-"] {
	/*border: 1px solid black !important;*/
	width : 100%;
	}

#timer_div {
	text-align    : center;
	/*padding: 2rem;*/
	font-size     : 5vw;
	border        : 1px solid red;
	width         : 12vw;
	height        : 12vw;
	line-height   : 12vw;
	border-radius : 6vw;
	margin        : 0 auto;
	}

#timer_container {
	/*border: 1px solid red !important;*/
	text-align : center;
	padding    : 0;
	}

.custom-select {
	width     : 100% !important;
	/*background-color: blue;*/
	font-size : 0.8rem;
	}

#board{
	width  : 100% !important;
	height : 100% !important;
	padding: 0 !important;
	}
.char_container {
	width  : 100% !important;
	height : 100% !important;
	padding: 0 !important;
	}

.char_row {
	width  : 100% !important;
	height : 100% !important;
	padding: 0 !important;
	}

.char_cell {
	/*width: 25% !important;*/
	/*padding-top: 20% !important;*/
	/*line-height: 100%;*/
	/*vertical-align: middle;*/
	}

.char{
	font-size: 4vw !important;
	/*padding: 0 0 10% 50%!important;*/
	text-align: center;
	position: relative;
	top: 50% !important;
	transform: translateY(-50%) !important;
	}

