html, body {
	width  : 100%;
	height : 100%;
	}

/*
LANDING PAGE
*/

header {
	width            : 50%;
	/* margin: 0 auto; */
	text-align       : center;
	font-size        : 4rem;
	font-family      : "Poor Story";
	/* background: yellow; */
	/* box-shadow: 0 0 12rem yellow; */
	background-color : transparent;
	position         : fixed;
	/* bottom: 0%; */
	/* left: 50%; */
	/* transform: translateX(-50%); */
	transform        : rotateZ(-90deg) translate(-50%);
	right            : -23%;
	font-style       : italic;
	color            : cadetblue;
	}

#form_div {
	text-align : center;
	}

form {
	border        : 1px solid gray;
	border-radius : 5px;
	padding       : 1rem;
	width         : 40%;
	margin        : 0 auto;
	position: relative;
	bottom: 50%;
	transform: translateY(50%);
	}

form > button, input, label {
	height        : 1.5rem;
	border-radius : 0.3rem;
	border        : none;
	padding       : 0.3rem;
	font-size     : 1.1rem;
	}

form > button, input {
	width : 15rem;
	}

form > input, label {
	}

form > button {
	padding : 0.5rem !important;
	height  : 2.0rem !important;
	}

form > button:hover {
	display          : inline-block;
	background-color : coral;
	color            : white;
	cursor           : pointer;
	}

form > label {
	display          : inline-block;
	background-color : lightblue;
	color            : maroon;
	text-align       : right;
	width            : 12rem !important;
	margin           : 0.5rem;
	font-weight      : bold;
	}

form > input {
	background-color : lightblue;
	}

form > input:hover {
	background-color : lightyellow;
	color            : maroon;
	}

/*

STORY PAGE

 */

#bookpage_div {
	height          : 100%;
	margin          : 0 auto;
	background      : url("https://toledolibrary.s3.amazonaws.com/uploads/images/blog/_large/book-fantasy-art-of-storytelling-writing.jpg") no-repeat center center fixed;
	background-size : cover;
	padding         : 15%;
	}

#story_div {
	position    : relative;
	font-size   : 4rem;
	/*text-indent : 5rem;*/
	text-align  : center;
	font-style  : italic;
	color       : goldenrod;
	font-family : "Poor Story";
	text-shadow : 0px 0px 9px yellow;
	}
